{% extends 'base.html' %} 
{% block content %}
{% load static %}

{% block js %}
<!-- Scripts -->

{% endblock %}

<main class="container">
  <div class="display-1 text-center py-3">
    <h2>REPORTE OPERACIONAL DE DISCAPACIDAD 2</h2>
  </div>

  <table border="1">
    <tr>
        <th>Red</th>
        <th>Microred</th>
        <th>Establecimiento</th>
        <th>Mes</th>
        <th>Columna1</th>
        <th>Columna2</th>
        <th>Columna3</th>
        <th>Columna4</th>
        <th>Columna5</th>
    </tr>

    {% for row in results %}
        <tr>
            <td>{{ row.0 }}</td>
            <td>{{ row.1 }}</td>
            <td>{{ row.2 }}</td>
            <td>{{ row.3 }}</td>
            <td>{{ row.4 }}</td>
            <td>{{ row.5 }}</td>
            <td>{{ row.6 }}</td>
            <td>{{ row.7 }}</td>
            <td>{{ row.8 }}</td>
        </tr>
    {% endfor %}
</table>
a

{% for r in tipo_reporte %}
  {{ r.nombre }}
{% endfor %}

{% endblock %}
