{% extends 'base.html' %} 
{% load static %}
{% block content_inicio %}

<main class="container">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-3">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/banner_sistema_report_his.png' %}" alt="..."/>
      </div>
      <div class="col-lg-5">
        <h2 class="text-danger">ReportWeb JUNIN</h2>
        <p class="text-justify">
          <h5>Plataforma con información estadistica, para tomar mejores decisiones con datos procesados en salud de la Region Junin.</h5>
        </p>
      </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-danger bg-light my-3 py-2 text-center">
      <h4>FECHAS DE ACTUALIZACION</h4>
    </div> 
    <!-- Content Row-->
    <div class="row gx-5 gx-lg-5">
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center text-primary">BD Archivo Plano HIS-MINSA</h5>
            <p class="card-text">
              <div class="list-group">         
                <a class="list-group-item list-group-item-action list-group-item-warning text-center"><i class="fa fa-calendar"></i><strong> 18/03/2024</strong></a>
                <a class="list-group-item list-group-item-action list-group-item-warning text-center"><i class="fa fa-clock"></i><strong> 11:00 AM</strong></a>
              </div>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center text-primary">BD Paciente HIS-MINSA</h5>
            <p class="card-text">
              <div class="list-group">         
                <a class="list-group-item list-group-item-action list-group-item-warning text-center"><i class="fa fa-calendar"></i><strong> 18/03/2024</strong></a>
                <a class="list-group-item list-group-item-action list-group-item-warning text-center"><i class="fa fa-clock"></i><strong> 11:00 AM</strong></a>
              </div>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center text-primary">BD Personal HIS-MINSA</h5>
            <p class="card-text">
              <div class="list-group">         
                <a class="list-group-item list-group-item-action list-group-item-warning text-center"><i class="fa fa-calendar"></i><strong> 18/03/2024</strong></a>
                <a class="list-group-item list-group-item-action list-group-item-warning text-center"><i class="fa fa-clock"></i><strong> 11:00 AM</strong></a>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row gx-3 gx-lg-5">
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center text-danger">BD Padron Nominal</h5>
            <p class="card-text">
              <div class="list-group">         
                <a class="list-group-item list-group-item-action list-group-item-info text-center"><i class="fa fa-calendar"></i><strong> 18/03/2024</strong></a>
                <a class="list-group-item list-group-item-action list-group-item-info text-center"><i class="fa fa-clock"></i><strong> 11:00 AM</strong></a>
              </div>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center text-success">BD Certificados Discapacidad</h5>
            <p class="card-text">
              <div class="list-group">         
                <a class="list-group-item list-group-item-action list-group-item-info text-center"><i class="fa fa-calendar"></i><strong> 18/03/2024</strong></a>
                <a class="list-group-item list-group-item-action list-group-item-info text-center"><i class="fa fa-clock"></i><strong> 11:00 AM</strong></a>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>  
  </div>
</main>

{% endblock %}

