.chart {
    width: 100%;
    min-height: 400px;
}

.chart_ranking {
    width: 100%;
    min-height: 400px;
}

.chart_padron_edades {
    width: 100%;
    min-height: 400px;
}

.chart_padron_sexo {
    width: 100%;
    min-height: 400px;
}

.chart_padron_dni {
    width: 100%;
    min-height: 220px;
}

.chart_padron_seguro {
    width: 100%;
    min-height: 220px;
}

.chart_padron_encontrado {
    width: 100%;
    min-height: 220px;
}

.chart_padron_visitado {
    width: 100%;
    min-height: 220px;
}

.chart_padron_visitado {
    width: 100%;
    min-height: 220px;
}

.chart_padron_celular {
    width: 100%;
    min-height: 220px;
}

.chart_padron_frecuencia {
    width: 100%;
    min-height: 220px;
}

.chart_padron_entidad {
    width: 100%;
    min-height: 220px;
}

.chart_padron_atencion {
    width: 100%;
    min-height: 220px;
}





