body,
.chart {
    width: 100%;
    min-height: 400px;
}

:root{
    --offcanvas-width: 270px;
}

.sidebar-nav {
    width: var(--offcanvas-width);   
}

@media (min-width: 992px) {
    .sidebar-nav {
        transform: none; 
        visibility: visible !important;    
    }
}
