{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% if user.is_authenticated %}

<div class="col py-3">
  <!-- CABECERAS INDICADOR -->
  <div class="display-1 text-center py-3 alert alert-secondary" role="alert">
    <h4>FAMILIAS CON NIÑ@S MENORES 12 MESES QUE RECIBEN ACOMPAÑAMIENTO A TRAVES DE LA CONSEJERIA</h4>
  </div>
  <!-- FIN DE CABECERA -->
  
  <div class="row">
    <div class="col-md-12">
      <section class="card card-body shadow mb-2">
        <!-- link de tap -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" style="font-size: 13px;" id="region-tab" data-toggle="tab" href="#region" role="tab" aria-controls="region" aria-selected="true"><i class="fa fa-chart-line"></i> AVANCE REGIONAL Y RANKING POR REDES</a>
            </li>  
        </ul>
        <!-- fin link de tap -->
        <div class="tab-content" id="myTabContent">
          <!-- contenido de tap -->
          <div class="tab-pane fade show active" id="region" role="tabpanel" aria-labelledby="region-tab">
            <div class="row my-4">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div id="chart" class="chart"></div>
              </div>
            <div>
            <div class="row my-4">
              <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">  
                <div id="chart_ranking" class="chart_ranking"></div>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">  
                <table class="table table-bordered" id="table_red" style="font-size: 14px;">
                  <thead>
                      <tr style="background-color: #FAF4F3;">
                          <th style="text-align:center;font-size: 13px;">RED DE SALUD</th>
                          <th style="text-align:center;font-size: 13px;">DEN</th>
                          <th style="text-align:center;font-size: 13px;">NUM</th>
                          <th style="text-align:center;font-size: 13px;">POR (%)</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for i in t_red %}
                          <tr>
                              <td>{{ i.Red }}</td>
                              <td style="text-align:right;">{{ i.suma_den }}</td>
                              <td style="text-align:right;">{{ i.suma_num }}</td>
                           
                              <td style="text-align:right;">
                                {% if i.porcentaje >= 0 and i.porcentaje < 30 %}
                                  <span style="color:#CB4335;">{{ i.porcentaje|floatformat:"2" }}</span>
                                {% elif i.porcentaje >= 30 and  i.porcentaje < 50 %}
                                  <span style="color:#D4AC0D;">{{ i.porcentaje|floatformat:"2" }}</span>
                                {% else %}
                                  <span style="color:#229954;">{{ i.porcentaje|floatformat:"2" }}</span>
                                {% endif %}
                              </td>
                          </tr>
                      {% endfor %}
                  </tbody>
                </table><!-- Tabla para REDES -->
              </div>
            </div>
          </div>
        </div>
          <!-- fin contenido de tap -->   
      </section>
    </div>  
  </div>
  
  <!-- CABECERA AVANCE INDICADOR -->
  <div class="display-1 text-center py-3 alert alert-primary" role="alert">
    <h4><i class="fa fa-hospital"></i> AVANCE POR ESTABLECIMIENTO DEL INDICADOR</h4>
  </div>
  <!-- FIN DE CABECERA -->
  <!-- TABLA DETALLADO -->
    <div class="row">
      <div class="col-md-12">
        <section class="card card-body shadow mb-2">
          <!-- link de tap -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" style="font-size: 13px;" id="chyo-tab" data-toggle="tab" href="#chyo" role="tab" aria-controls="chyo" aria-selected="true"><i class="fa fa-clinic-medical"></i> CHANCHAMAYO</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" style="font-size: 13px;" id="jauja-tab" data-toggle="tab" href="#jauja" role="tab" aria-controls="jauja" aria-selected="false"><i class="fa fa-clinic-medical"></i> JAUJA</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" style="font-size: 13px;" id="junin-tab" data-toggle="tab" href="#junin" role="tab" aria-controls="junin" aria-selected="false"><i class="fa fa-clinic-medical"></i> JUNIN</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" style="font-size: 13px;" id="pki-tab" data-toggle="tab" href="#pki" role="tab" aria-controls="pki" aria-selected="false"><i class="fa fa-clinic-medical"></i> PICHANAKI</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" style="font-size: 13px;" id="chupaca-tab" data-toggle="tab" href="#chupaca" role="tab" aria-controls="chupaca" aria-selected="false"><i class="fa fa-clinic-medical"></i> CHUPACA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="font-size: 13px;" id="pangoa-tab" data-toggle="tab" href="#pangoa" role="tab" aria-controls="pangoa" aria-selected="false"><i class="fa fa-clinic-medical"></i> PANGOA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="font-size: 13px;" id="satipo-tab" data-toggle="tab" href="#satipo" role="tab" aria-controls="satipo" aria-selected="false"><i class="fa fa-clinic-medical"></i> SATIPO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="font-size: 13px;" id="tarma-tab" data-toggle="tab" href="#tarma" role="tab" aria-controls="tarma" aria-selected="false"><i class="fa fa-clinic-medical"></i> TARMA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="font-size: 13px;" id="valle-tab" data-toggle="tab" href="#valle" role="tab" aria-controls="valle" aria-selected="false"><i class="fa fa-clinic-medical"></i> VALLE DEL MANTARO</a>
              </li>               
          </ul>
          <!-- fin link de tap -->
          <div class="tab-content" id="myTabContent">
            <!-- contenido de tap -->
                <div class="tab-pane fade show active" id="chyo" role="tabpanel" aria-labelledby="chyo-tab">
                  </br>
                  <table class="table table-bordered" id="table_red_chyo" style="font-size: 14px;">
                    <thead>
                        <tr style="background-color: #FAF4F3;">
                            <th style="text-align:center;font-size: 13px;">COD</th>
                            <th style="text-align:center;font-size: 13px;">ESTABLECIMIENTO</th>
                            <th style="text-align:center;font-size: 13px;">DEN</th>
                            <th style="text-align:center;font-size: 13px;">NUM</th>
                            <th style="text-align:center;font-size: 13px;">POR (%)</th>
                            <th style="text-align:center;font-size: 13px;">RN</th>
                            <th style="text-align:center;font-size: 13px;">2M-5M</th>
                            <th style="text-align:center;font-size: 13px;">6M-8M</th>
                            <th style="text-align:center;font-size: 13px;">9M-12M</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in t_chyo %}
                            <tr>
                                <td>{{ i.Codigo_Unico }}</td>
                                <td>{{ i.Nombre_Establecimiento }}</td>
                                <td style="text-align:right;">{{ i.suma_den }}</td>
                                <td style="text-align:right;">{{ i.suma_num }}</td>
                             
                                <td style="text-align:right;">
                                  {% if i.porcentaje >= 0 and i.porcentaje < 30 %}
                                    <span style="color:#CB4335;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% elif i.porcentaje >= 30 and  i.porcentaje < 50 %}
                                    <span style="color:#D4AC0D;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% else %}
                                    <span style="color:#229954;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% endif %}
                                </td>
                                
                                <td style="text-align:center;">{{ i.suma_v1 }}</td>
                                <td style="text-align:center;">{{ i.suma_v2 }}</td>
                                <td style="text-align:center;">{{ i.suma_v3 }}</td>
                                <td style="text-align:center;">{{ i.suma_v4 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table><!-- Tabla para CHANCHAMAYO -->
                </div>
                <div class="tab-pane fade" id="jauja" role="tabpanel" aria-labelledby="jauja-tab">
                  </br>
                  <table class="table table-bordered" id="table_red_jauja" style="font-size: 13px;">
                    <thead>
                        <tr style="background-color: #FAF4F3;">
                            <th style="text-align:center;">Cod</th>
                            <th style="text-align:center;">Establecimiento</th>
                            <th style="text-align:center;">Den</th>
                            <th style="text-align:center;">Num</th>
                            <th style="text-align:center;">Por (%)</th>
                            <th style="text-align:center;">RN</th>
                            <th style="text-align:center;">2M-5M</th>
                            <th style="text-align:center;">6M-8M</th>
                            <th style="text-align:center;">9M-12M</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in t_jauja %}
                            <tr>
                                <td>{{ i.Codigo_Unico }}</td>
                                <td>{{ i.Nombre_Establecimiento }}</td>
                                <td style="text-align:right;">{{ i.suma_den }}</td>
                                <td style="text-align:right;">{{ i.suma_num }}</td>
                          
                                <td style="text-align:right;">
                                  {% if i.porcentaje >= 0 and i.porcentaje < 30 %}
                                    <span style="color:#CB4335;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% elif i.porcentaje >= 30 and  i.porcentaje < 50 %}
                                    <span style="color:#D4AC0D;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% else %}
                                    <span style="color:#229954;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% endif %}
                                </td>
                                
                                <td style="text-align:center;">{{ i.suma_v1 }}</td>
                                <td style="text-align:center;">{{ i.suma_v2 }}</td>
                                <td style="text-align:center;">{{ i.suma_v3 }}</td>
                                <td style="text-align:center;">{{ i.suma_v4 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table><!-- Tabla para JAUJA -->
                </div>
                <div class="tab-pane fade" id="junin" role="tabpanel" aria-labelledby="junin-tab">
                  </br>
                  <table class="table table-bordered" id="table_red_junin" style="font-size: 13px;">
                    <thead>
                        <tr style="background-color: #FAF4F3;">
                            <th style="text-align:center;">Cod</th>
                            <th style="text-align:center;">Establecimiento</th>
                            <th style="text-align:center;">Den</th>
                            <th style="text-align:center;">Num</th>
                            <th style="text-align:center;">Por (%)</th>
                            <th style="text-align:center;">RN</th>
                            <th style="text-align:center;">2M-5M</th>
                            <th style="text-align:center;">6M-8M</th>
                            <th style="text-align:center;">9M-12M</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in t_junin %}
                            <tr>
                                <td>{{ i.Codigo_Unico }}</td>
                                <td>{{ i.Nombre_Establecimiento }}</td>
                                <td style="text-align:right;">{{ i.suma_den }}</td>
                                <td style="text-align:right;">{{ i.suma_num }}</td>
                          
                                <td style="text-align:right;">
                                  {% if i.porcentaje >= 0 and i.porcentaje < 30 %}
                                    <span style="color:#CB4335;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% elif i.porcentaje >= 30 and  i.porcentaje < 50 %}
                                    <span style="color:#D4AC0D;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% else %}
                                    <span style="color:#229954;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% endif %}
                                </td>
                                
                                <td style="text-align:center;">{{ i.suma_v1 }}</td>
                                <td style="text-align:center;">{{ i.suma_v2 }}</td>
                                <td style="text-align:center;">{{ i.suma_v3 }}</td>
                                <td style="text-align:center;">{{ i.suma_v4 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table><!-- Tabla para JUNIN -->
                </div>
                <div class="tab-pane fade" id="pki" role="tabpanel" aria-labelledby="pki-tab">
                  </br>
                  <table class="table table-bordered" id="table_red_pki" style="font-size: 13px;">
                    <thead>
                        <tr style="background-color: #FAF4F3;">
                            <th style="text-align:center;">Cod</th>
                            <th style="text-align:center;">Establecimiento</th>
                            <th style="text-align:center;">Den</th>
                            <th style="text-align:center;">Num</th>
                            <th style="text-align:center;">Por (%)</th>
                            <th style="text-align:center;">RN</th>
                            <th style="text-align:center;">2M-5M</th>
                            <th style="text-align:center;">6M-8M</th>
                            <th style="text-align:center;">9M-12M</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in t_pki %}
                            <tr>
                                <td>{{ i.Codigo_Unico }}</td>
                                <td>{{ i.Nombre_Establecimiento }}</td>
                                <td style="text-align:right;">{{ i.suma_den }}</td>
                                <td style="text-align:right;">{{ i.suma_num }}</td>
                          
                                <td style="text-align:right;">
                                  {% if i.porcentaje >= 0 and i.porcentaje < 30 %}
                                    <span style="color:#CB4335;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% elif i.porcentaje >= 30 and  i.porcentaje < 50 %}
                                    <span style="color:#D4AC0D;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% else %}
                                    <span style="color:#229954;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% endif %}
                                </td>
                                
                                <td style="text-align:center;">{{ i.suma_v1 }}</td>
                                <td style="text-align:center;">{{ i.suma_v2 }}</td>
                                <td style="text-align:center;">{{ i.suma_v3 }}</td>
                                <td style="text-align:center;">{{ i.suma_v4 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table><!-- Tabla para PICHANAKI -->
                </div>
                <div class="tab-pane fade" id="chupaca" role="tabpanel" aria-labelledby="chupaca-tab">
                  </br>  
                  <table class="table table-bordered" id="table_red_chupaca" style="font-size: 13px;">
                    <thead>
                        <tr style="background-color: #FAF4F3;">
                            <th style="text-align:center;">Cod</th>
                            <th style="text-align:center;">Establecimiento</th>
                            <th style="text-align:center;">Den</th>
                            <th style="text-align:center;">Num</th>
                            <th style="text-align:center;">Por (%)</th>
                            <th style="text-align:center;">RN </th>
                            <th style="text-align:center;">2M-5M</th>
                            <th style="text-align:center;">6M-8M</th>
                            <th style="text-align:center;">9M-12M</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in t_chupaca %}
                            <tr>
                                <td>{{ i.Codigo_Unico }}</td>
                                <td>{{ i.Nombre_Establecimiento }}</td>
                                <td style="text-align:right;">{{ i.suma_den }}</td>
                                <td style="text-align:right;">{{ i.suma_num }}</td>
                          
                                <td style="text-align:right;">
                                  {% if i.porcentaje >= 0 and i.porcentaje < 30 %}
                                    <span style="color:#CB4335;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% elif i.porcentaje >= 30 and  i.porcentaje < 50 %}
                                    <span style="color:#D4AC0D;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% else %}
                                    <span style="color:#229954;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% endif %}
                                </td>
                                
                                <td style="text-align:center;">{{ i.suma_v1 }}</td>
                                <td style="text-align:center;">{{ i.suma_v2 }}</td>
                                <td style="text-align:center;">{{ i.suma_v3 }}</td>
                                <td style="text-align:center;">{{ i.suma_v4 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table><!-- Tabla para CHUPACA -->
                </div>
                <div class="tab-pane fade" id="pangoa" role="tabpanel" aria-labelledby="pangoa-tab">
                  </br>
                  <table class="table table-bordered" id="table_red_pangoa" style="font-size: 13px;">
                    <thead>
                        <tr style="background-color: #FAF4F3;">
                            <th style="text-align:center;">Cod</th>
                            <th style="text-align:center;">Establecimiento</th>
                            <th style="text-align:center;">Den</th>
                            <th style="text-align:center;">Num</th>
                            <th style="text-align:center;">Por (%)</th>
                            <th style="text-align:center;">RN</th>
                            <th style="text-align:center;">2M-5M</th>
                            <th style="text-align:center;">6M-8M</th>
                            <th style="text-align:center;">9M-12M</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in t_pangoa %}
                            <tr>
                                <td>{{ i.Codigo_Unico }}</td>
                                <td>{{ i.Nombre_Establecimiento }}</td>
                                <td style="text-align:right;">{{ i.suma_den }}</td>
                                <td style="text-align:right;">{{ i.suma_num }}</td>
                          
                                <td style="text-align:right;">
                                  {% if i.porcentaje >= 0 and i.porcentaje < 30 %}
                                    <span style="color:#CB4335;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% elif i.porcentaje >= 30 and  i.porcentaje < 50 %}
                                    <span style="color:#D4AC0D;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% else %}
                                    <span style="color:#229954;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% endif %}
                                </td>
                                
                                <td style="text-align:center;">{{ i.suma_v1 }}</td>
                                <td style="text-align:center;">{{ i.suma_v2 }}</td>
                                <td style="text-align:center;">{{ i.suma_v3 }}</td>
                                <td style="text-align:center;">{{ i.suma_v4 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table><!-- Tabla para PANGOA -->
                </div>
                <div class="tab-pane fade" id="satipo" role="tabpanel" aria-labelledby="satipo-tab">
                  </br>  
                  <table class="table table-bordered" id="table_red_satipo" style="font-size: 13px;">
                    <thead>
                        <tr style="background-color: #FAF4F3;">
                            <th style="text-align:center;">Cod</th>
                            <th style="text-align:center;">Establecimiento</th>
                            <th style="text-align:center;">Den</th>
                            <th style="text-align:center;">Num</th>
                            <th style="text-align:center;">Por (%)</th>
                            <th style="text-align:center;">RN</th>
                            <th style="text-align:center;">2M-5M</th>
                            <th style="text-align:center;">6M-8M</th>
                            <th style="text-align:center;">9M-12M</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in t_satipo %}
                            <tr>
                                <td>{{ i.Codigo_Unico }}</td>
                                <td>{{ i.Nombre_Establecimiento }}</td>
                                <td style="text-align:right;">{{ i.suma_den }}</td>
                                <td style="text-align:right;">{{ i.suma_num }}</td>
                          
                                <td style="text-align:right;">
                                  {% if i.porcentaje >= 0 and i.porcentaje < 30 %}
                                    <span style="color:#CB4335;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% elif i.porcentaje >= 30 and  i.porcentaje < 50 %}
                                    <span style="color:#D4AC0D;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% else %}
                                    <span style="color:#229954;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% endif %}
                                </td>
                                
                                <td style="text-align:center;">{{ i.suma_v1 }}</td>
                                <td style="text-align:center;">{{ i.suma_v2 }}</td>
                                <td style="text-align:center;">{{ i.suma_v3 }}</td>
                                <td style="text-align:center;">{{ i.suma_v4 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table><!-- Tabla para SATIPO -->
                </div>
                <div class="tab-pane fade" id="tarma" role="tabpanel" aria-labelledby="tarma-tab">
                  </br>  
                  <table class="table table-bordered" id="table_red_tarma" style="font-size: 13px;">
                    <thead>
                        <tr style="background-color: #FAF4F3;">
                            <th style="text-align:center;">Cod</th>
                            <th style="text-align:center;">Establecimiento</th>
                            <th style="text-align:center;">Den</th>
                            <th style="text-align:center;">Num</th>
                            <th style="text-align:center;">Por (%)</th>
                            <th style="text-align:center;">RN</th>
                            <th style="text-align:center;">2M-5M</th>
                            <th style="text-align:center;">6M-8M</th>
                            <th style="text-align:center;">9M-12M</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in t_tarma %}
                            <tr>
                                <td>{{ i.Codigo_Unico }}</td>
                                <td>{{ i.Nombre_Establecimiento }}</td>
                                <td style="text-align:right;">{{ i.suma_den }}</td>
                                <td style="text-align:right;">{{ i.suma_num }}</td>
                          
                                <td style="text-align:right;">
                                  {% if i.porcentaje >= 0 and i.porcentaje < 30 %}
                                    <span style="color:#CB4335;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% elif i.porcentaje >= 30 and  i.porcentaje < 50 %}
                                    <span style="color:#D4AC0D;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% else %}
                                    <span style="color:#229954;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% endif %}
                                </td>
                                
                                <td style="text-align:center;">{{ i.suma_v1 }}</td>
                                <td style="text-align:center;">{{ i.suma_v2 }}</td>
                                <td style="text-align:center;">{{ i.suma_v3 }}</td>
                                <td style="text-align:center;">{{ i.suma_v4 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table><!-- Tabla para TARMA -->
                </div>
                <div class="tab-pane fade" id="valle" role="tabpanel" aria-labelledby="valle-tab">
                  </br>
                  <table class="table table-bordered" id="table_red_valle" style="font-size: 13px;">
                    <thead>
                        <tr style="background-color: #FAF4F3;">
                            <th style="text-align:center;">Cod</th>
                            <th style="text-align:center;">Establecimiento</th>
                            <th style="text-align:center;">Den</th>
                            <th style="text-align:center;">Num</th>
                            <th style="text-align:center;">Por (%)</th>
                            <th style="text-align:center;">RN</th>
                            <th style="text-align:center;">2M-5M</th>
                            <th style="text-align:center;">6M-8M</th>
                            <th style="text-align:center;">9M-12M</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in t_valle %}
                            <tr>
                                <td>{{ i.Codigo_Unico }}</td>
                                <td>{{ i.Nombre_Establecimiento }}</td>
                                <td style="text-align:right;">{{ i.suma_den }}</td>
                                <td style="text-align:right;">{{ i.suma_num }}</td>
                          
                                <td style="text-align:right;">
                                  {% if i.porcentaje >= 0 and i.porcentaje < 30 %}
                                    <span style="color:#CB4335;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% elif i.porcentaje >= 30 and  i.porcentaje < 50 %}
                                    <span style="color:#D4AC0D;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% else %}
                                    <span style="color:#229954;">{{ i.porcentaje|floatformat:"2" }}</span>
                                  {% endif %}
                                </td>
                                
                                <td style="text-align:center;">{{ i.suma_v1 }}</td>
                                <td style="text-align:center;">{{ i.suma_v2 }}</td>
                                <td style="text-align:center;">{{ i.suma_v3 }}</td>
                                <td style="text-align:center;">{{ i.suma_v4 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table><!-- Tabla para VALLE -->
                </div>
            <!-- fin contenido de tap -->   
          </div>
        </section>
      </div>  
    </div>
  <!-- FIN DE TABLA -->
  
   <!-- CABECERA SEGUIMIENTO-->
  <div class="display-1 text-center py-3 alert alert-warning" role="alert">
    <h4><i class="fa fa-running"></i> SEGUIMIENTO NOMINAL</h4>
  </div>
  <!-- FIN DE CABECERA -->
  <!-- SEGUIMIENTO -->
  <div class="row">
    <div class="col-md-3">
      <section class="card card-body shadow mb-2">
        <div hx-target="#content" hx-swap="innerHTML" hx-indicator="#loading">
          <ul class="list-group">
              <a href="#" class="list-group-item list-group-item-action active">TIPO DE REPORTE</a>
              <a href="#" class="list-group-item list-group-item-action" hx-get="{% url 'filiacion:get_provincias' 1 %}" hx-swap="innerHTML" hx-trigger="click">PROVINCIA</a>
              <a href="#" class="list-group-item list-group-item-action" hx-get="{% url 'filiacion:get_distritos' 1 %}" hx-swap="innerHTML" hx-trigger="click">DISTRITO</a>
              <a href="#" class="list-group-item list-group-item-action" hx-get="{% url 'filiacion:get_redes' 1 %}" hx-swap="innerHTML" hx-trigger="click">RED</a>
              <a href="#" class="list-group-item list-group-item-action" hx-get="{% url 'filiacion:get_microredes' 1 %}" hx-swap="innerHTML" hx-trigger="click">MICRORED</a>
              <a href="#" class="list-group-item list-group-item-action" hx-get="{% url 'filiacion:get_establecimientos' 1 %}" hx-swap="innerHTML" hx-trigger="click">ESTABLECIMIENTO</a>
              <!-- <a href="#" class="list-group-item list-group-item-action" hx-trigger="click">DNI</a> -->
          </ul>
        </div>
      </section>
  </div>
  
  <div class="col-md-9"> 
      <div id="loading" style="display:none;">Cargando...
        <section class = "card card-body shadow mb-2">
        </section>
      </div>
      <div id="content">
        <section class = "card card-body shadow mb-2">
        </section>
      </div>
    </div>
  </div>
   <!-- FIN DE SEGUIMIENTO ----------->  
</div>
{% endif %}
{% endblock %}